modules:
- name: HyperCloud-Operator
  namespace:
  selector:
    matchLabels:
      statusLabel:
      - hypercloud4=operator
      versionLabel:
      - hypercloud4=operator
  readinessProbe:

  versionProbe:
    
- name: HyperCloud-Console
  namespace:
  selector:
    matchLabels:
      statusLabel:
      - app=console
      versionLabel:
      - app=console
  readinessProbe:

  versionProbe:
    
- name: HyperCloud-WebHook
  namespace:
  selector:
    matchLabels:
      statusLabel:
      - hypercloud4=webhook
      versionLabel:
      - hypercloud4=webhook
  readinessProbe:

  versionProbe:

- name: HyperCloud-Watcher 
  namespace:
  selector:
    matchLabels:
      statusLabel:
      - hypercloud4=secret-watcher
      versionLabel:
      - hypercloud4=secret-watcher
  readinessProbe:

  versionProbe:

- name: Kubernetes
  namespace:
  selector:
    matchLabels:
      statusLabel:
      - component=kube-apiserver
      versionLabel:
      - component=kube-apiserver
  readinessProbe:

  versionProbe:
 
- name: Calico
  namespace: kube-system
  selector:
    matchLabels:
      statusLabel:
      - k8s-app=calico-node
      versionLabel:
      - k8s-app=calico-node
  readinessProbe:
      
  versionProbe:
    exec:
      command:
      - /bin/calico-node
      - -v

- name: Rook
  namespace: rook-ceph
  selector:
    matchLabels:
      statusLabel:
      - app=rook-ceph-operator
      versionLabel:
      - app=rook-ceph-tools
  readinessProbe:

  versionProbe:
    exec:
      command:
      - rook
      - version

- name: Ceph
  namespace: rook-ceph
  selector:
    matchLabels:
      statusLabel:
      - app=rook-ceph-operator
      versionLabel:
      - app=rook-ceph-tools
  readinessProbe:  

  versionProbe:
    exec:
      command:
      - ceph
      - version

- name: Prometheus
  namespace: monitoring
  selector:
    matchLabels:
      statusLabel:
      - app=prometheus
      versionLabel:
      - app=prometheus
  readinessProbe:
    httpGet:
      path: /-/ready
      port: 9090
      scheme: HTTP
      serviceName: prometheus-k8s
  versionProbe:
    exec:
      command:
      - prometheus
      - --version
      container: prometheus
  
- name: Grafana
  namespace: monitoring
  selector:
    matchLabels:
      statusLabel:
      - app=grafana
      versionLabel:
      - app=grafana
  readinessProbe:
    httpGet:
      path: /api/health
      port: 3000
      serviceName: grafana
  versionProbe:
    exec:
      command:
      - grafana-cli
      - --version

- name: Tekton
  namespace: tekton-pipelines
  selector:
    matchLabels:
      statusLabel:
      - app=tekton-pipelines-controller
      versionLabel:
      - app=tekton-pipelines-controller
  readinessProbe:

  versionProbe:
  
- name: Tekton-Trigger
  namespace: tekton-pipelines
  selector:
    matchLabels:
      statusLabel:
      - app=tekton-triggers-controller
      versionLabel:
      - app=tekton-triggers-controller
  readinessProbe:
  
  versionProbe:

- name: Catalog-Controller
  namespace: catalog
  selector:
    matchLabels:
      statusLabel:
      - app=catalog-catalog-controller-manager
      versionLabel:
      - app=catalog-catalog-controller-manager
  readinessProbe:
    httpGet:
      path: /healthz/ready
      port: 443
      scheme: HTTPS
      serviceName: catalog-catalog-controller-manager
  versionProbe:
  
- name: TemplateServiceBroker
  namespace:
  selector:
    matchLabels:
      statusLabel:
      - hypercloud4=template-service-broker
      versionLabel:
      - hypercloud4=template-service-broker
  readinessProbe:

  versionProbe:

